<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/" style = "text-transform: none; font-family: 'Josefin Slab', serif;font-size: 3em;">iRide!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="/messages" title ='These are the ride requests you have submitted.' class="nav-link">Messages</a></li>
          <li class="nav-item"><a href="/view/myrequests" class="nav-link" title ='These are the rides you have chosen to offer.'>My Ride Requests</a></li>
          <li class="nav-item"><a href="/view/myrideoffers" class="nav-link" title ='These are the rides you have chosen to offer.'>My Ride Offers</a></li>
          <li class="nav-item"><a href="/announcements" class="nav-link" title = 'These are all other ride-related announcements.'>All Ride Announcements</a></li>
        </ul>
      </div>
	  </div>
  </nav>
